.calc-container {
  width: 600px;
  height: 450px;
  margin: 15% auto 0 auto;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 11px 11px 36px 5px rgba(34, 60, 80, 0.45);
}

.operation-panel {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  height: 50px;
  font-size: 24px;
  border-radius: 20px 20px 0 0;
}

.result {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  height: 70px;
  font-size: 48px;
}

.button-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 330px;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.zero {
  grid-column: 7/9;
}

button {
  border: none;
  border-radius: 0;
  margin: 1px 1px 0px 1px;
  color: white;
  font-size: 20px;
}

.button-panel > button:hover {
  cursor: pointer;
}

.second-color {
  margin: 1px 0px 0px 1px;
}

/* Dark Theme */
body.dark {
  background: linear-gradient(90deg, #b9deed, #efefef);
}

.dark {
  color: rgb(241, 241, 241);
}

.operation-panel.dark {
  color: #bebebe;
}

.operation-panel.dark,
.result.dark {
  background-color: #464749;
}

.button-panel.dark {
  background: #676869;
}

button.dark {
  background: #767778;
  color: rgb(241, 241, 241);
}

.button-panel.dark > button:hover {
  background-color: #999999;
}

.second-color.dark {
  background: #fea003;
}

/* Light Theme */

body.light {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.light {
  color: rgb(22, 22, 22);
}

.operation-panel.light {
  color: rgb(107, 107, 107);
}

.result.light,
.operation-panel.light {
  background-color: #cfe0fd;
}

.button-panel.light {
  background: #afafaf;
}

button.light {
  background: #ececec;
  color: black;
}

.button-panel.light > button:hover {
  background-color: #c4cdff;
}

.second-color.light {
  background: #8785fa;
}
